{% extends 'layout.jinja2' %}

{% block content %}
    <div class="content">
    <h1><span class="font-semi-bold">Delete Class</span></h1>
    </div>
    <p>Are you sure you want to delete class {{ class_info.class_strand }} {{ class_info.class_year }}?</p>
    <p><strong>This CANNOT be undone.</strong></p>
    <form>
    <p> Pupils will be reassigned to the following class:</p>
        <select class="custom-select" name="new_class_id">

    {% for class_entry in classes_dict %}
        <option value="{{ class_entry }}">{{ classes_dict[class_entry] }}</option>
    {% endfor %}

</select>
    <button type="submit" class="btn btn-danger" name="confirm" value="confirm">Delete</button>
    <button type="submit" class="btn btn-secondary" name="cancel" value="cancel">Cancel</button>
    <input type="hidden" name="class_id" value="{{ class_id }}">

    </form>
{% endblock content %}