{% extends 'layout.jinja2' %}

{% block content %}
    <h1>Class Create</h1>
    <form action="">
        <table class="table">
            <thead>
                <th>Attribute</th>
                <th>Value</th>
            </thead>

            <tbody>
                {% for attribute in attributes %}
                   <tr>
                    <td>{{ attribute }}</td>
                    {% if attribute == 'active' %}
                            <td>
                                <div class="onoffswitch">
                                        <input type="checkbox" name="{{ attribute }}" class="onoffswitch-checkbox" value ='No' \
                                               id="{{ attribute }}" >
                                            <label class="onoffswitch-label" for="{{ attribute }}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </td>
                       {% else %}
                            <td><input type="text" name="{{ attribute }}" ></td>
                       {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
    <button type="submit" class="btn btn-secondary" name="cancel" value="cancel">Cancel</button>
    </form>
{% endblock content %}