{% extends 'layout.jinja2' %}

{% block content %}
    <div class="content">
    <h1><span class="font-semi-bold">Delete User {{ username }}</span></h1>
    </div>
    <p>Are you sure you want to delete user {{ username }}?</p>
    <form>
    <button type="submit" class="btn btn-danger" name="confirm" value="confirm">Delete</button>
    <button type="submit" class="btn btn-secondary" name="cancel" value="cancel">Cancel</button>
    <input type="hidden" name="user_id" value="{{ user_id }}">

    </form>


{% endblock content %}