{% extends "layout.jinja2" %}

{% block content %}
    {% if logfile_contents.0 is defined %}
        {% set length = (logfile_contents|length) -1 %}
    <h1>History for {{ logfile_contents[length].first_name }} {{ logfile_contents[length].last_name }}</h1>
        <table class="table" id="myTable">
            <thead>
                <th>Date and Time</th>
                {% for capability in capabilities_nice %}
                    <th style="text-align: center"><span class="badge badge-success disabled">{{ capabilities_nice[capability] }}</span></th>
                {% endfor %}
            </thead>
            <tbody>
            {% for log_entry in logfile_contents %}
                <tr>
                    <td>
                        <small>{{ log_entry.date }}</small>
                        {% if log_entry.last_name != logfile_contents[length].last_name and log_entry.first_name == logfile_contents[length].first_name %}
                            <small>{{ log_entry.first_name }}</small>
                            <small><strong>{{ log_entry.last_name }}</strong></small>
                        {% elif log_entry.last_name == logfile_contents[length].last_name and log_entry.first_name != logfile_contents[length].first_name %}
                            <small><strong>{{ log_entry.first_name }}</strong></small>
                            <small>{{ log_entry.last_name }}</small>
                        {% elif log_entry.last_name != logfile_contents[length].last_name and log_entry.first_name != logfile_contents[length].first_name %}
                            <small><strong>{{ log_entry.first_name }}</strong></small>
                            <small><strong>{{ log_entry.last_name }}</strong></small>
                        {% else %}

                        {% endif %}
                    </td>
                    {% for capability in capability_list %}
                        <td style="text-align: center">
                            {% if log_entry[capability] %}
                                <img src="{{ request.static_url('gdpr_permissions:static/tick.png') }}" width="25">
                            {% else %}
                                <img class="div_{{ capability }}" src="{{ request.static_url('gdpr_permissions:static/cross.png') }}" width="25">
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="{{ (capabilities_nice|length) + 1 }}">
                    <a href="/admin/edit?id={{ logfile_contents.0.id }}" class="btn btn-secondary">Back</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <h1>No history for this pupil</h1>
         <button onclick="goBack()" class="btn btn-secondary">Back</button>
            <script>
            function goBack() {
                window.history.back();
            }
            </script>
    {% endif %}

{% endblock content %}
