{% extends 'layout.jinja2' %}

{% block content %}
    <div class="content">
    <h1><span class="font-semi-bold">Set Password for {{ username }}</span></h1>
    </div>
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
    <form>
    <input type="password" name="password">
    <input type="password" name="password_confirm">
    <button type="submit" class="btn btn-primary" name="confirm" value="confirm">Set Password</button>
    <button type="submit" class="btn btn-secondary" name="cancel" value="cancel">Cancel</button>
    <input type="hidden" name="user_id" value="{{ user_id }}">
    </form>

{% endblock content %}