{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1>Year Group Upgrade</h1>
    <p>This function allows the upgrading of all classes to the year above.</p>
    <p>After the button below is clicked, the following will happen:</p>
    <p>Every student will be moved up a year group. Any who are already in year 4 will be deleted</p>
    <p>This function is <strong>powerful and CANNOT be undone!</strong></p>
    <p>It should only be run at the end/beginning of a school year.</p>
    <p>You need to check the tick box before proceeding to avoid accidental operation.</p>
    <form action="/admin/year_group_update_2">
    <p><input type="checkbox"  onchange="document.getElementById('upgrade').disabled = !this.checked;" /> I understand
        and want to do an end-of-year update</p>

    <button class="btn btn-danger" type="submit" name="sendNewSms" id="upgrade" value="True" disabled>Upgrade</button>

    </form>

</div>

{% endblock content %}
