{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">GDPR</span> <span class="smaller">Pupil Information Database</span></h1>
    <p class="lead">Data is now being imported from the Google Sheets Page.</p>
<p>Check the Google Sheets for update - when all rows are marked as done, the process is complete.</p>
<p><strong>Please do not refresh this page - the process will not happen any quicker.</strong></p>
</div>
{% endblock content %}
