{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">GDPR</span> <span class="smaller">Pupil Information Database</span></h1>
    <p class="lead">Import from Sheets dummy page</p>
</div>
{% endblock content %}
