{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">Pupil List</span></h1>

</div>

<table class="table">
    <thead>
        <th scope = 'col'>id</th>
        <th scope = 'col'>first</th>
        <th scope = 'col'>last</th>
        <th scope = 'col'>blog</th>
        <th scope = 'col'>twitter</th>
        <th scope = 'col'>class photo</th>
        <th scope = 'col'>production dvd</th>
        <th scope = 'col'>newsletter</th>
        <th scope = 'col'>wistia video</th>
        <th scope = 'col'>dasp web</th>
        <th scope = 'col'>dasp music web</th>
        <th scope = 'col'>dorset echo</th>
        <th scope = 'col'>cel pound mag</th>
        <th scope = 'col'>cel pound web</th>
        </thead>
        <tbody>
    {% for pupil in pupils %}
        <tr>
            <td>
                {{ pupil.id }}
            </td>
            <td>
                {{ pupil.first_name }}
            </td>
            <td>
                {{ pupil.last_name }}
            </td>
            <td>
                {% if pupil.damers_blog %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.damers_twitter %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.damers_class_photo %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.damers_prod_dvd %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.damers_newsletter %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.wistia_video %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.dasp_web %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.dasp_music_web %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.dor_echo %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.cel_pound_mag %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            <td>
                {% if pupil.cel_pound_web %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock content %}
