{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">LIST2</span> <span class="smaller">Pupil Information Database</span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, an application to aid in determining pupil permissions for GDPR purposes.</p>
</div>
{% endblock content %}
