{% extends "layout.jinja2" %}

{% block content %}
    <script>
        {% for capability in capabilities_nice %}
            function toggle_{{ capability }}() {

            var table, td, i;
            table = document.getElementById("myTable");
            td = table.getElementsByClassName("div_{{ capability }}");

            // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < td.length; i++) {
                if (td[i].parentElement.parentElement.style.display === "none") {
                    td[i].parentElement.parentElement.style.display = "";
                  } else {
                    td[i].parentElement.parentElement.style.display = "none";
                  }
                }
              }


        {% endfor %}
    </script>

    <div class="content">
        <h1><span class="font-semi-bold">Pupil List</span> -
            {% if class_filter == "None" %}
            All Classes
            {% else %}
            {{ classes_dict[class_filter|int] }}</h1>
            {% endif %}
    </div>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Pick a Class
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="?class_filter=None">All Classes</a>
            {% for class_entry in classes_dict %}
                {% if class_entry == class_filter|int %}
                    <a class="dropdown-item active" href="?class_filter={{ class_entry }}">{{ classes_dict[class_entry] }}</a>
                {% else %}
                    <a class="dropdown-item" href="?class_filter={{ class_entry }}">{{ classes_dict[class_entry] }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <table class="table" id="myTable">
        <thead>

            <th><a class="btn btn-info" id="button_clear" href="?class_filter={{ class_filter }}">Clear</a></th>
            {% for capability in capabilities_nice %}
                <th><button class="btn btn-success" data-toggle="button" onclick="toggle_{{ capability }}()">{{ capabilities_nice[capability] }}</button></th>
            {% endfor %}
        </thead>
        <tbody>
        {% for pupil in pupils %}
            <tr class="hideable">
                <td>
                    <a href="edit?id={{ pupil.id }}">{{ pupil.first_name }} {{ pupil.last_name }}</a>

                </td>
                {% for capability in capability_list %}
                    <td>
                        {% if pupil[capability] %}
                            <img src="{{ request.static_url('gdpr_permissions:static/tick.png') }}" width="25">
                        {% else %}
                            <img class="div_{{ capability }}" src="{{ request.static_url('gdpr_permissions:static/cross.png') }}" width="25">
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="class_filter" value="{{ class_filter }}">
{% endblock content %}
