{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">Pupil List</span></h1>

</div>
<table class="table">

</table>
<table class="table">
    <thead>
        <th scope = 'col'><a href="?sort=last_name">Name</a></th>
            {% for capability in capabilities_nice %}
                <th scope = 'col'><a href="?sort={{ capability }}">{{ capabilities_nice[capability] }}</a></th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                <td><a href="?filter=">Filter:</a></td>
                {% for capability in capabilities_nice %}
                    <td><a href="?filter={{ capability }}">{{ capabilities_nice[capability] }}</a></td>
                {% endfor %}
            </tr>
    {% for pupil in pupils %}
        <tr>
            <td>
                <a href="edit?id={{ pupil.id }}">{{ pupil.first_name }} {{ pupil.last_name }}</a>

            </td>
            {% for capability in capability_list %}
            <td>
                {% if pupil[capability] %}
                    <img src="{{request.static_url('gdpr_permissions:static/tick.png')}}" width="25">
                {% else %}
                    <img src="{{request.static_url('gdpr_permissions:static/cross.png')}}" width="25">
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock content %}
