{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <h1><span class="font-semi-bold">Users View Page</span></h1>

</div>
<div>
    <ul>
    {%  for user in users %}
    <li>{{ user.username }}</li>
        {%  if user.cap_view %}
        <li>Capability View: {{ user.cap_view }}</li>
        {% endif %}
        {% if user.cap_edit %}
        <li>Capability Edit: {{ user.cap_edit }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>


{% endblock content %}
