{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <div class="content">
        <h1><span class="font-semi-bold">
            {% if year_filter == "None" %}
                All Years
            {% elif year_filter == "Foundation" %}
                {{ year_filter }} Year
                {% else %}
                Year {{ year_filter }}
            {% endif %}
            </span> - Summary View</h1>
    </div>
<div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Pick a Year
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="?year_filter=None">All Years</a>
            {% for year_entry in year_group_list %}
                {% if class_entry == year_filter %}
                    <a class="dropdown-item active" href="?year_filter={{ class_entry }}">{{ classes_dict[class_entry] }}</a>
                {% else %}
                    <a class="dropdown-item" href="?year_filter={{ year_entry }}">{{ year_entry }}</a>
                {% endif %}
            {% endfor %}
        </div>
            {% if year_filter != "None" %}
                <a class="btn btn-primary" href="/year_view_detail?year_filter={{ year_filter }}">Detail View</a>
        {% endif %}
    </div>
</div>

    <div>
    {% for capability in year_capability_dict %}
        <hr>
            {%  if capability == 'ok' %}
                <img src="{{ request.static_url('gdpr_permissions:static/tick.png') }}" width="50">
            {% elif capability == 'check' %}
                <img src="{{ request.static_url('gdpr_permissions:static/question.png') }}" width="50">
            {% else %}
                <img src="{{ request.static_url('gdpr_permissions:static/cross.png') }}" width="50">
            {% endif %}
        {% if year_capability_dict[capability]|length == 0 %}
            No Pupils
        {% else %}
            {% for pupil_name in year_capability_dict[capability] %}
                {{ pupil_name }}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <input type="hidden" name="year_filter" value="{{ year_filter }}">
    </div>

{% endblock content %}
