{% extends "layout.jinja2" %}

{% block content %}
    {% if request.authenticated_userid %}
    <script>
        {% for key in capabilities_keys %}
            function toggle_{{ key }}() {

            var table, td, i;
            table = document.getElementById("myTable");
            td = table.getElementsByClassName("div_{{ key }}");

            // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < td.length; i++) {
                if (td[i].parentElement.parentElement.style.display === "none") {
                    td[i].parentElement.parentElement.style.display = "";
                  } else {
                    td[i].parentElement.parentElement.style.display = "none";
                  }
                }
              }


        {% endfor %}
    </script>

    <div class="content">
        <h1><span class="font-semi-bold">
            {% if year_filter == "None" %}
            All Years
            {% elif year_filter == "Foundation" %}
                {{ year_group_list[(year_filter|int -1)] }} Year
            {% else %}
            Year {{ year_group_list[(year_filter|int -1)] }}
            {% endif %}
    </span>- Detail View </h1>
    </div>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Pick a Year
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="?year_filter=None">All Years</a>
            {% for year_entry in year_group_list %}
                {% if class_entry == year_filter %}
                    <a class="dropdown-item active" href="?year_filter={{ class_entry }}">{{ classes_dict[class_entry] }}</a>
                {% else %}
                    <a class="dropdown-item" href="?year_filter={{ year_entry }}">{{ year_entry }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% if class_filter != "None" %}
            <a class="btn btn-primary" href="/year_view_summary?year_filter={{ year_filter }}">Summary View</a>
        {% endif %}
    </div>

    <table class="table" id="myTable">
        <thead>

            <th><a class="btn btn-info" id="button_clear" href="?class_filter={{ class_filter }}">Clear</a></th>
            {% for key in capabilities_keys %}
                <th><span class="badge badge-success" data-toggle="button" onclick="toggle_{{ key }}()">{{ capabilities_nice[key] }}</span></th>
            {% endfor %}
        </thead>
        <tbody>
        {% for pupil in pupils %}
            <tr class="hideable">
                <td>
                    {% if request.authenticated_userid == 'admin' %}
                    <a href="admin/edit?id={{ pupil.id }}">{{ pupil.first_name }} {{ pupil.last_name }}</a>
                    {%  else %}
                    {{ pupil.first_name }} {{ pupil.last_name }}
                    {% endif %}
                </td>
                {% for capability in capability_list %}
                    <td align="center">
                        {% if pupil[capability] %}
                            <img src="{{ request.static_url('gdpr_permissions:static/tick.png') }}" width="25">
                        {% else %}
                            <img class="div_{{ capability }}" src="{{ request.static_url('gdpr_permissions:static/cross.png') }}" width="25">
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="class_filter" value="{{ class_filter }}">
    {% else %}
    <p>You will need to <a href="/signin">sign in</a> to view or edit any records.</p>
    {% endif %}
{% endblock content %}
